<div class="row w-100 body-sideNav">
    <div class="side-left pt-3">
        <img src="assets/img/logo_white.png" width="150px" alt="" routerLink='accueil'>		
        <h2>COMPONENTS</h2>
        <div class="left-menu">
            <div class="adjust">
                <mat-icon>adjust</mat-icon>
                <a routerLink="articles/article">Articles</a>
            </div>
            <div class="adjust">
                <mat-icon>adjust</mat-icon>
                <a>Carousels</a>
            </div>
            <div class="adjust">
                <mat-icon>adjust</mat-icon>
                <a>Buttons</a>
            </div>
            <div class="adjust">
                <mat-icon>adjust</mat-icon>
                <a>Cards</a>
            </div>

        </div>
        <mat-divider class="my-2"></mat-divider>

        <h2>CUSTOM COMPONENTS</h2>
        <div class="menu-vertical left-menu">
            <div class="adjust">
                <mat-icon>adjust</mat-icon>
                <a>Géolocalisation map</a>
            </div>
            <div class="adjust">
                <mat-icon>adjust</mat-icon>
                <a>Another example</a>
            </div>
            <div class="adjust">
                <mat-icon>adjust</mat-icon>
                <a>Another</a>
            </div>
           
        </div>
        <mat-divider class="my-2"></mat-divider>

        <h2>METADATA</h2>
        <div class="menu-vertical left-menu">
            <div class="adjust">
                <mat-icon>adjust</mat-icon>
                <a routerLink="articles/category">Catégories</a>
            </div>
            <div class="adjust">
                <mat-icon>adjust</mat-icon>
                <a routerLink="articles/tag">Etiquettes</a>
            </div>
            
        </div>
        <mat-divider class="my-2"></mat-divider>
        <div class="menu-vertical left-menu">
            <!--<div class="d-flex align-items-center p-3" *ngFor="let model of modelService.models">
                <a routerLink={{model.title}}>{{model.title | titlecase}}</a>
            </div>-->
        </div>
    </div>
    <div class="content p-2" >
        
        <router-outlet></router-outlet>
    </div>
    <div class="side-right" >
        <div class="right-menu" *ngFor="let rightMenu of rightMenus">
            <a routerLink="{{rightMenu.link}}"><mat-icon matTooltip="{{rightMenu.title}}">{{rightMenu.icon}}</mat-icon></a>
        </div>
        <div class="right-menu">
            <a (click)="auth.logout({ returnTo: document.location.origin })" 
                style="cursor: pointer;">
                <mat-icon matTooltip="Déconnexion">logout</mat-icon>
            </a>
        </div>
    </div>
</div>
