<div class="row w-100 body-sideNav">
    <div class="side-left" >
        <div class="left-logo-button">
            <img src="assets/logo_white.png" height="100px" alt="">		
            <div class="d-flex align-items-center">
                <mat-icon class="left-icon">person</mat-icon>
                <a routerLink="user">User</a>
            </div>

            <div class="d-flex align-items-center"> 
                <mat-icon class="left-icon">construction</mat-icon>
                <a routerLink="model">Générateur de contenu</a>
            </div>
            
            <div class="d-flex align-items-center">
                <mat-icon class="left-icon">help</mat-icon>
                <a routerLink="user">Aide</a>
            </div>
            <div class="d-flex align-items-center">
                <mat-icon class="left-icon">settings</mat-icon>
                <a routerLink="user">Paramétre</a>
            </div>
        </div>
    </div>
    <div class="content p-2">
        <router-outlet></router-outlet>
    </div>
    <div class="side-right" >
        <div style="height: 100px; display:flex;justify-content:center; padding-top:35px;">
            <h2>Composants</h2>
        </div>
        <div class="right-logo-button">
            <div class="d-flex align-items-center" *ngFor="let model of modelService.models">
                <a routerLink={{model.title}}>{{model.title | titlecase}}</a>
            </div>
        </div>
    </div>
</div>
