
.body-sideNav{
    position: relative;
}

.side-left  {
    background: #140a82;
    height: 100vh;
    width: 20%;
    position: fixed;
    left: 0;
}
.side-right{
    background:#ff5e1a;
    height: 100vh;
    width: 90px;
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    /* justify-content: center; */
}

.side-right mat-icon{
    font-size: 50px;
    color: white;
    margin-bottom: 50px;
}

.side-left a{
    color: white;
    text-decoration: none;
} 

.adjust{
    display: flex;
    align-items: center;
    padding: 7px;
    margin-left: 20px;
}

.adjust mat-icon{
    margin-top: 7px;
    font-size: 14px;
    color: white;
}

.side-left mat-divider{
    background-color: white;
    width: 40%;
}


.left-menu :hover{
    background: #0a0544;
}


.content{
    width: 70%;
    position: absolute;
    left: 21%;
}


.side-left h2{
    font-weight: bolder;
    color: white;
}

.side-left img{
    display: block;
    margin: auto;
    cursor: pointer;
}

@media (max-width:1000px) {
	.side-left{
        width: 25%;
	}
    .content{
        width: 60%;
        left: 26%;
    }

} 



