
.body-sideNav{
    position: relative;
}

.side-left  {
    background: #140a82;
    height: 100vh;
    width: 15%;
    position: fixed;
    left: 0;
}
.side-right{
    background: #ff5e1a;
    height: 100vh;
    width: 15%;
    position: fixed;
    right: 0;
}

.side-left a{
    color: #ffcc40;
    width: 100%;
    text-decoration: none;
    display: block;
    text-align: left;
    height: 40px;
    margin-top: 15px;
    padding: 5px;
} 

.side-right a{
    color: #140a82;
    width: 100%;
    text-decoration: none;
    display: block;
    text-align: left;
    height: 40px;
    margin-top: 15px;
    padding: 5px;
}

.left-logo-button div{
    padding-left: 5px;
    padding-bottom: 5px;
}

.left-logo-button div:hover{
    background: #142a82;
}

.right-logo-button div{
    padding-left: 5px;
    padding-bottom: 5px;
}

.right-logo-button div:hover{
    background: #ef5e1a;
}


.content{
    width: 70%;
    position: absolute;
    left: 16%;
}

mat-divider{
    background: #ffcc40;
    margin-bottom: 30px;
}

.left-icon{
    color:#ffcc40;
}

.right-icon{
    color:#201781;
}





@media (max-width:1000px) {
	.side-left, .side-right {
        width: 25%;
	}
    .content{
        width: 50%;
        left: 26%;
    }

} 




