<main>
  <header>
    <nav>
      <ul>
        <li *ngFor="let l of menuServ.menus.principal">
          <a href [routerLink]="l.route.path"> {{ l.titre }}</a>
        </li>
      </ul>
    </nav>
  </header>
  <section>
    <aside>
      <nav>
        <ul>
          <li>
            <a href routerLink="/form"> Formulaire d'exemple </a>
          </li>
        </ul>
      </nav>
    </aside>
    <section>
      <router-outlet></router-outlet>
    </section>
  </section>
  
  <footer>

  </footer>
</main>