<div [class.mat-elevation-z5]="isAdd" class="col dialogue">
    <div>
        <h2>Séléctionner le type du composant </h2>
        <!--<mat-form-field appearance="fill">
            <mat-label>Nom du contenu</mat-label>
            <input matInput [(ngModel)]="name_component">
        </mat-form-field>-->
        <select class="form-select step-yellow" aria-label="Default select example" (change)="onSelect()" [(ngModel)]="name_component">
            <option selected hidden></option>
            <option *ngFor="let option of options" value={{option}}>{{option | titlecase}}</option>
            
        </select>
          
    </div>
    <hr>
    
    <div>
        <h2>Séléctionner un champ pour le composant</h2>
    </div>
    <div class="button-icon">
        <button (click)="generateInput('text')" class="step-yellow" mat-button [disabled]="name_component==='' || isValidate"><mat-icon>title</mat-icon> Text</button>
        <button (click)="generateInput('email')" class="step-yellow" mat-button [disabled]="name_component==='' || isValidate"><mat-icon>email</mat-icon> Email</button>
        <button (click)="generateInput('number')" class="step-yellow" mat-button [disabled]="name_component==='' || isValidate"><mat-icon>pin</mat-icon> Number</button>
        <button (click)="generateInput('date')" class="step-yellow" mat-button [disabled]="name_component==='' || isValidate"><mat-icon>date_range</mat-icon> Date</button>
        <button (click)="generateInput('file')" class="step-yellow" mat-button [disabled]="name_component==='' || isValidate"><mat-icon>image</mat-icon> Image</button>
        <button class="step-yellow" mat-button [disabled]="name_component==='' || isValidate"><mat-icon>notes</mat-icon>Text Area</button>
    </div>
    <div>
    </div>
    <hr>

    <h2>Ajouter un champ</h2>
    <div class="button-icon">
        <h4>Type du champ: <span class="success mb-2">{{typeField}}</span></h4>
        <input style="padding:10px;" type="text" placeholder="Saisir le nom du champ" class="form-control typeField mb-2" [(ngModel)]="name_field" [disabled]="typeField === ''">
        <div class="d-flex align-items-center mb-2">
            <input 
                [(ngModel)]="isChecked" 
                [disabled]="name_field===''" 
                type="checkbox" 
                name="requis" id="requis" style="margin-right: 10px; width:20px; height:20px">
            <label for="requis">Champ requis?</label>
        </div>
        <button [disabled]="name_field===''" mat-raised-button class="success mb-2" (click)="addField()">Valider</button>
    </div>

    <div *ngIf="fields.length>0">
        <mat-divider></mat-divider>
        <div class="row my-1">
            <div class="col">
                <h4 style="font-weight: bolder;">Nom du champ</h4>
            </div>
            <div class="col">
                <h4 style="font-weight: bolder;">Type du champ</h4>
            </div>
            <div class="col">
                <h4 style="font-weight: bolder;">Champ requis</h4>
            </div>
            <div class="col">
                <h4 style="font-weight: bolder;">Actions</h4>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div *ngFor="let field of fields; let i = index" class="row my-1 ">
            <div class="col">
                <h4>{{field.templateOptions.label}}</h4>
            </div>
            <div class="col">
                <h4>{{field.key}}</h4>
            </div>
            <div class="col">
                <h4>{{field.templateOptions.required}}</h4>
            </div>
            <div class="col">
                <button mat-mini-fab (click)="deleteChamp(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="d-flex justify-content-between mt-2 flex-wrap">
        <button class="m-1"  mat-raised-button color="accent" (click)="cancel()">Annuler</button>
        <button class="m-1" [disabled]="!isValidate" mat-raised-button color="primary" (click)="addAnotherField()">Ajouter un nouveau champ</button>
        <button class="m-1 success"  mat-raised-button (click)="saveModel()">Enregistre le model</button>
    </div>
</div>






    



